.titleSection {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem; 
    gap: 0.5rem; 
  }
  

.teamSection {
    padding: var(--static-space-64) 0;
  }
  
  .teamGrid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.5rem;
  }
  
  .teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    transition: var(--transition-micro-medium);
  
    &:hover {
      transform: translateX(var(--static-space-4));
    }
  }
  
  .avatarContainer {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: var(--static-space-16);
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    box-shadow: var(--shadow-medium);
    
    &:hover {
      .avatarImage {
        filter: grayscale(0);
      }
      .linkedinBadge {
        opacity: 1;
      }
    }
  }
  
  .avatarImage {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    filter: grayscale(100%);
    transition: var(--transition-micro-medium);
  }
  
  .linkedinBadge {
    position: absolute;
    bottom: var(--static-space-8);
    right: var(--static-space-8);
    background: white;
    padding: var(--static-space-4);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition-micro-medium);
    
    svg {
      color: var(--color-blue-600);
      width: 16px;
      height: 16px;
    }
  }
  
  .memberInfo {
    width: 100%;
    padding: 0 var(--static-space-8);
    
    h3 {
      font-weight: 600;
      font-size: var(--font-size-lg);
      margin-bottom: var(--static-space-4);
      transition: var(--transition-micro-medium);
      
      &:hover {
        color: var(--color-blue-600);
      }
    }
    
    .school {
        font-size: var(--font-size-sm);
        color: var(--color-gray-600);
        margin-bottom: var(--static-space-8);
        transition: opacity var(--transition-micro-medium);
      }
      
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--static-space-4);
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity var(--transition-micro-medium), height var(--transition-micro-medium);

    
    span {
        background: var(--color-gray-100);
        color: var(--color-gray-800);
        font-size: var(--font-size-xs);
        padding: var(--static-space-2) var(--static-space-4);
        border-radius: 999px;
      }
    }

  
.teamMember:hover .school {
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin-bottom: 0;
    }
    
    .teamMember:hover .tags {
    opacity: 1;
    height: auto;
    }
  
  @media (--s) {
    .teamGrid {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .avatarContainer {
      width: 120px;
      height: 120px;
    }
  
    .textAlign {
      text-align: center;
    }
  
    .blockAlign {
      align-self: center;
    }
  }